body{
   font-family:  New Century Schoolbook, serif;
    width: 48%;
    align-items: center;
    margin-left: 270px;
    background-color: #F4F4F4;
    border: 1px solid #000000;
}
#header{
    margin: 2px;
    background-color: dimgray;
}
#gnome{
    display: inline-block;
    padding-left: 20px;
    color: #EEEE00;
    
}
#trouble{
    float: right;
    color: white;
    padding-top: 30px;
}
#emails{
    margin: 2px;
    background-image: url(assets/big_img.jpg);
    height: 270px;
}
    #emailtxt{
        text-align: left;
        width: 30%;
        font-size: 130%;
        padding-left: 15px;
        
    }
#spanitalics{
    font-style: italic;
}
#app{
    font-size: 10px;
     font-style: italic;
}

#blogs{
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: white;
}

.btn{
  border-radius: 23px;
  font-family: Arial;
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: black;
  border: solid #000000;

}
#icons{
    margin: 2px;
    text-align: center;
    background-color: white;
}
#editable{
    width: 30%;
    display: inline-block;
    float: left;
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
}
#versatile{
    width: 30%;
    display: inline-block;
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
}

#prof{
   width: 30%; 
   display: inline-block;
   float: right;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
   /*clear: both;*/
}
.inline{
    margin: 2px;
    background-color: white;
    height: 250px;
}
#shoestxt{
    width: 50%;
    display: inline-block;
    float: right;
    clear: both;
    background-color: white;
}
#shoes{
   width: 30%; 
   display: inline-block;
   float: left;      
}

#sendicate{
    display: inline-block;
    float: right; 
    
}
#sendicatetxt{
   width: 50%; 
   display: inline-block;
   float: left; 
   clear: both;
    background-color: white;
    margin: 2px;
}


#adspace{
   text-align: center;
   padding: 10px;
   margin: 2px;
   background-color: #00EE00;
   clear: both;
    color: white;
}

#lorem{0;
    margin: 2px;
    background-color: white;
}

#foot{ 
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 65px;
    background-color: #282828;
    color: #EEEE00;
}